@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  
 
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);

  button {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 60px;
  }

}


